auto-save-list/
var/
.python-environments
semanticdb/*
tramp
srecode-map.el
elpa/archives/
.session
places
backups/
emms/cache
.smex-items
tmp/
url/
ac-comphist.dat
elpa/archives/
session.*
*#
.#*
